.post-detail-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    padding: 0;
}

.post-detail-container {
    background-color: #000;
    width: 100%;
    max-width: 1200px; 
    height: 100%;
    max-height: 100%; 
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #262626;
    margin: auto;;
    border: none;
}

.post-detail-media {
    flex: 1.5;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 0;
    height: 100%; 
    overflow: hidden;
}

.post-detail-img, 
.post-detail-media video {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    max-height: 95vh; 
}

.post-detail-carousel {
    width: 100%;
    height: 100%;
}

.post-detail-info {
    flex: 1;
    max-width: 500px;
    min-width: 350px;
    background-color: #1c1c1c; 
    display: flex;
    flex-direction: column;
    border-left: 1px solid #262626;
}

.post-detail-header {
    padding: 14px;
    border-bottom: 1px solid #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-detail-comments-list {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post-detail-footer {
    padding: 10px 16px;
    border-top: 1px solid #262626;
}

.post-detail-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    z-index: 1002;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.post-detail-close-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.post-detail-carousel .overflow-hidden {
    height: 100% !important;
}

.post-detail-carousel .flex {
    height: 100% !important;
}

.reply{
    margin-left: 0.75rem;
}

@media (min-width: 768px) {
    .post-detail-overlay {
        padding: 20px;
    }

    .post-detail-container {
        height: 95vh;
        max-height: 900px;
        border-radius: 4px;
        border: 1px solid #262626;
    }
}

@media (max-width: 768px) {
    .post-detail-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .post-detail-media {
        flex: 1;
        max-height: 50vh;
    }

    .post-detail-info {
        flex: 1;
        max-width: 100%;
        border-left: none;
        border-top: 1px solid #262626;
    }
}
